<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>bien benido <%= visitante %></p>
     <p>del semestre <%= semestre %></p>
  </body>
</html>
